html {
    /*
    background-image: url("srdce.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    */

    background-color: #eeeeff;
    font-family: sans-serif;
    font-size: 150%;
    color: #2222aa;
    /*
    text-shadow: 2px 2px black;
    */
}


